<div class='row mt-4'>
  <div class='col-md-6'>
    <H1>Great! What skills are you looking to offer?</H1>

    <br />
    <div>
      <fieldset
        id='choose_category_fieldset'
        style='display: block; flex-direction: column'

      >
        {{! <div id='choose_categories' class='mt-25'> }}
        <div class='mb-10'><h3>Select Category</h3></div>

        {{#each top_categories}}

          <div>

            <input
              type='radio'
              id='{{id}}'
              name='request_category'
              value='{{id}}'
              class='mb-2 ml-2'
              onclick='displaySkillsHandler(this)'
              data-level='page'
              data-name='{{name}}'
            />
            <label for='{{id}}'>{{name}}</label>
          </div>
          <fieldset
            style='display: none;'
            class='ml-3'
            name='category_skills'
            id='category_skills_page{{id}}'
            data-level='page'
          >
            {{#each category_skills}}
              <div class='mr-3' id='service_skills'>
                <input
                  type='radio'
                  name='service_skill'
                  id='{{id}}'
                  onclick='handleSkillSelection_provider(this)'
                  data-id='{{id}}'
                  data-name='{{name}}'
                />
                <label for='{{id}}'>{{name}}</label>
              </div>
            {{/each}}
          </fieldset>
        {{/each}}
        {{! </div> }}

        <div class='ml-3'>
          <a id='see_all_categories_btn' href='#'><strong>more...</strong></a>

        </div>
      </fieldset>
    </div>
  </div>
</div>

<div class='row mt-5'>
  <div class='col-md-6'>

    <div>
      <button
        type='submit'
        class='btn btn-primary mr-3'
        id='back_publish_skill_btn'
      >Back</button>
      <button
        type='submit'
        class='btn btn-primary ml-3'
        id='continue_publish_skill_btn'
        disabled='disabled'
      >Continue</button>
    </div>
  </div>
</div>
<div id='selectedSkillWrapper' class='mt-5' style='display: none;'>
  <h4>Selected Skills</h4>
  <button
    class='btn btn-warning m-2'
    id='selectedSkill'
    style='display: block;'
    data-category_skill_id=''
    data-skill_name=''
    data-category_name=''
  ></button>
</div>
<div id='categoryModal' class='modal'>
  <!-- Modal content -->
  <div class='modal-content'>
    <span class='close'>&times;</span>
    {{#each more_categories}}
      <div>
        <input
          type='radio'
          id='{{id}}'
          name='request_category'
          value='{{id}}'
          class='mb-2 mt-1'
          onclick='displaySkillsHandler(this)'
          data-level='modal'
          data-name='{{name}}'
        />
        <label for='{{id}}'>{{name}}</label>
      </div>
      <fieldset
        style='display: none;'
        class='ml-3'
        name='category_skills'
        id='category_skills_modal{{id}}'
        data-level='modal'
      >
        {{#each category_skills}}
          <div class='mr-3' id='service_skills'>
            <input
              type='radio'
              name='service_skill'
              id='{{id}}'
              onclick='handleSkillSelection_provider(this)'
              data-id='{{id}}'
              data-name='{{name}}'
            />
            <label for='{{id}}'>{{name}}</label>
          </div>
        {{/each}}
      </fieldset>
    {{/each}}
    <br />
    <div>
      <button
        type='submit'
        class='btn btn-primary mr-3'
        id='modal_close'
        onclick='modal.style.display = "none"'
      >Close</button>
    </div>
  </div>
</div>

<script src='../../js/service.js'></script>
<script src='../../js/category_modal.js'></script>