<div class='row'>
  <div class='col-md-10'>
    <div class='row d-flex flex-row'>

      {{#if session.isProvider}}
        {{#each services}}
          <div class='card m-2 p-0 w-25'>
            <div class='card-body'>
              <H5 class='card-title bg-info'>{{name}}</H5>
              <H5 class='card-title'>{{status}}</H5>
              <H5 class='card-title'>{{date_requested}}</H5>
              <p class='card-text'>{{description}}</p>
              <a
                href='#'
                data-id='{{id}}'
                data-status='OPEN'
                id='accept_service_request_btn'
                class='btn btn-primary'
              >Accept</a>
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#each services}}
          <div class='row mb-4 service'>
            <div class='col-md-5'>
              <h2>
                <a href='/api/services/{{id}}'>{{name}}</a>
              </h2>
              <p>
                {{service.description}}
              </p>
            </div>
            <div class='col-md-7'>
              <p>
                {{service.description}}
              </p>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
<script src='../../js/service.js'></script>