<div class="container">
  <div class="row mt-4">   
    <div class="col-md-6">
      <p><strong>Submit a title for your request</strong></p>
      <section>
        <div class="mb-20">
          <textarea rows="1" id="new_service_title" placeholder="" style="height: 47px; overflow: hidden"></textarea>
        </div>
        <br>
        <br>
        <div id="title_examples" class="mt-25" style="display: block;">
          <strong>Example titles</strong>
          <ul>
            <li>Need an accountant to review my taxes</li>
            <li>My AC compressor is freezing up and I need assistance repairing</li>
            <li>I need help installing MS Office on my PC</li>
          </ul>
        </div>
        <fieldset id="choose_category_fieldset" style="display: none; flex-direction: column">
          <div id="choose_categories" class="mt-25">
            <div><strong>Select Category</strong></div>
              {{#each top_categories}} 
                <div>
                  <input type="radio" id="{{id}}" name="request_category" value="{{id}}" class="mb-2 mt-5" onclick="displaySkillsHandler(this)" data-level="page" data-name="{{name}}">
                  <label for="{{id}}">{{name}}</label>
                </div>
                <fieldset style="display: none;" class="ml-5" name="category_skills" id="category_skills_page{{id}}" data-level="page">
                {{#each category_skills}}
                    <div class="mr-5" id="service_skills">
                      <input type="radio" name="service_skill" id="{{id}}" onclick="handleSkillSelection(this)" data-id="{{id}}" data-name="{{name}}">
                      <label for="{{id}}">{{name}}</label>
                    </div>
                {{/each}} 
                </fieldset>                              
              {{/each}}                    
          </div>
          <br>
          <div class="mt-3">
            <a id="see_all_categories_btn" href="#">more</a>
          </div>      
        </fieldset>
      </section>
    </div>
  </div>
<div class="row mt-4">   
  <div class="col-md-6">
    <section>
      <button type="submit" class="btn btn-primary mr-3" id="back_title_btn">Back</button>
      <button type="submit" class="btn btn-primary ml-3" id="continue_title_btn">Continue</button>
    </section>
  </div>  
</div>
<div id="selectedSkillWrapper" class="mt-5" style="display: none;">
  <h4>Selected Skills</h4>
  <button class="btn btn-warning m-2" id="selectedSkill" style="display: block;" data-category_skill_id="" data-skill_name="" data-category_name=""></button>
</div>
<div id="categoryModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      {{#each more_categories}}
          <div>
            <input type="radio" id="{{id}}" name="request_category" value="{{id}}" class="mb-2 mt-5" onclick="displaySkillsHandler(this)" data-level="modal" data-name="{{name}}">
            <label for="{{id}}">{{name}}</label>
          </div>
          <fieldset style="display: none;" class="ml-5" name="category_skills" id="category_skills_modal{{id}}" data-level="modal">
          {{#each category_skills}}
              <div class="mr-5" id="service_skills">
                <input type="radio" name="service_skill" id="{{id}}" onclick="handleSkillSelection(this)" data-id="{{id}}" data-name="{{name}}">
                <label for="{{id}}">{{name}}</label>
              </div>
          {{/each}} 
          </fieldset>                   
      {{/each}}
      <br>
    <section>
      <button type="submit" class="btn btn-primary mr-3" id="modal_close" onclick='modal.style.display = "none"'>Close</button>
    </section>    
  </div>
</div>
</div>

<script src="../../js/service.js"></script>
<script>

    // Get the modal
  var modal = document.getElementById("categoryModal");

  // Get the button that opens the modal
  var btn = document.querySelector("#see_all_categories_btn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
