<div class="text-center">
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{description}}</p>
  <p>Consumer: {{consumer.id}}</p>
  <p>Provider: {{provider.id}}</p>
  <p>Skill: {{skill.id}}</p>
</div>
